workflows/templates/airtable-instagram.json
{
  "name": "Airtable Instagram Workflow",
  "meta": {
    "instanceId": "airtable-instagram-workflow-instance",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "parameters": {},
      "id": "c0236456-40be-4f8f-a730-e56cb62b7b5c",
      "name": "Start Instagram Search",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [780, 600]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appXXXXXXXXXXXXXX",
          "mode": "list",
          "cachedResultName": "Instagram Profiles"
        },
        "table": {
          "__rl": true,
          "value": "tblXXXXXXXXXXXXXX",
          "mode": "list",
          "cachedResultName": "Instagram Profiles"
        },
        "filterByFormula": "={{ \"AND(SEARCH('\" + $json.searchQuery.toLowerCase() + \"', LOWER({Username})), {Followers} >= \" + ($json.minFollowers || 0) + \")\" }}",
        "options": {
          "fields": [
            {
              "field": "Username",
              "included": true
            },
            {
              "field": "Followers",
              "included": true
            },
            {
              "field": "Bio",
              "included": true
            },
            {
              "field": "Email",
              "included": true
            },
            {
              "field": "Categories",
              "included": true
            },
            {
              "field": "Engagement Rate",
              "included": true
            }
          ]
        }
      },
      "id": "cc106fa0-6630-4c84-aea4-a4c7a3c149e9",
      "name": "Search Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1000, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "d3afe65c-7c80-4caa-9d1c-33c62fbc2197",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "larger",
                "name": "filter.operator.larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2ed874a9-5bcf-4cc9-9b52-ea503a562892",
      "name": "Check Results Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1220, 600]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "fields.Followers",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "d93b4429-2200-4a84-8505-16266fedfccd",
      "name": "Sort By Followers",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1440, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "26f43f2c-1422-40de-9f40-dd2d80926b1c",
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1660, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { message: 'No profiles found matching your criteria.' } }}",
        "options": {}
      },
      "id": "0fa1fbf6-fe77-4044-a445-c49a1db37dec",
      "name": "Return No Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1440, 700]
    }
  ],
  "connections": {
    "Start Instagram Search": {
      "main": [
        [
          {
            "node": "Search Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Airtable": {
      "main": [
        [
          {
            "node": "Check Results Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Results Found": {
      "main": [
        [
          {
            "node": "Sort By Followers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return No Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort By Followers": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}